<div class="row">
    <div class="col-auto">
        {{!-- Greeting for user after logging in --}}
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Create a New Blog:</h3>
        {{!-- Form for creating a new blog --}}
        <form class="form new-blog-form">
            <div class="form-group">
                {{!-- Blog title form input --}}
                <label for="blog-title">Title:</label>
                <input class="form-input" type="text" id="blog-title" name="blog-title" />
            </div>
            <div class="form-group">
                {{!-- Blog content form input --}}
                <label for="blog-content">Content:</label>
                <textarea class="form-input" id="blog-content" name="blog-content"></textarea>
            </div>
            <div class="form-group">
                {{!-- Create blog button --}}
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>
    <!-- Conditionally render Current Blogs for user -->
    {{!-- handlebars for loop --}}
    {{#if blogs.length}}
    <div class="col-md-6 blog-list">
        <h3>Current Blogs:</h3>
        {{!-- Built-in each helper iterates over blogs. Inside the block, you can use this to reference the element
        being iterated over. --}}
        {{#each blogs as |blog|}}
        <div class="row mb-2">
            <div class="col-md-8">
                <h4><a href="/blog/{{blog.id}}/edit">{{blog.title}}</a></h4>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src="/js/dashboard.js"></script>